
@{
    ViewData["Title"] = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/сhart.js/dist/Chart.css" rel="stylesheet" />
<script src="~/lib/сhart.js/dist/Chart.js"></script>
<script src="~/lib/moment.js/moment.js"></script>

<h1>Графики</h1>

@*<label>@ViewBag.WMAName</label>*@

<input id="id" value="@ViewBag.Id" type="hidden"/>

<canvas width="704" height="352" class="chartjs-render-monitor" id="canvas1" style="width: 704px; height: 352px; display: block;"></canvas>
<select id="chart2DataType" onchange="ChartWMA()">
    <option value="0">Потерянные данные</option>
    <option value="1">Нет решения</option>
    <option value="11">Ночь</option>
    <option value="25">Нет снега</option>
    <option value="37">Озеро</option>
    <option value="39">Море</option>
    <option value="50">Облако</option>
    <option value="100">Лед</option>
    <option value="200">Снег</option>
    <option value="254">Детектор насыщен</option>
    <option value="255">Заполнено</option>
</select>
<canvas width="704" height="352" class="chartjs-render-monitor" id="canvas2" style="width: 704px; height: 352px; display: block;"></canvas>

<script>
    var colors = [
        {
            type: '0',
            color: '#000000',
            label: 'Потерянные данные'
        },
        {
            type: '1',
            color: '#FFFF73',
            label: 'Нет решения'
        },
        {
            type: '11',
            color: '#730000',
            label: 'Ночь'
        },
        {
            type: '25',
            color: '#FFFFFF',
            label: 'Нет снега'
        },
        {
            type: '37',
            color: '#005CE6',
            label: 'Озеро'
        },
        {
            type: '39',
            color: '#0000FF',
            label: 'Море'
        },
        {
            type: '50',
            color: '#ff73de',
            label: 'Облако'
        },
        {
            type: '100',
            color: '#7ab6f5',
            label: 'Лед'
        },
        {
            type: '200',
            color: '#bee8ff',
            label: 'Снег'
        },
        {
            type: '254',
            color: '#FF0000',
            label: 'Детектор насыщен'
        },
        {
            type: '255',
            color: '#FFF000',
            label: 'Заполнено'
        }
    ]

    var chart1 = null,
        chart2 = null;

    function ChartWMA() {
        $.ajax({
            url: '@Url.Action("GetWMAInfo")',
            data: {
                Id: @ViewBag.Id,
            },
            type: 'POST',
            success: function (data) {
                var barChartData1 = {
                    labels: [],
                    datasets: []
                };

                barChartData1.labels = [];
                barChartData1.datasets = [];
                for (i = 0; i < data.rasterstats.length; i++) {
                    barChartData1.labels.push(moment(data.rasterstats[i].date).format('YYYY-MM-DD'));
                    for (j = 0; j < data.rasterstats[i].snowData.length; j++) {
                        var exist = false;
                        for (k = 0; k < barChartData1.datasets.length; k++) {
                            if (barChartData1.datasets[k].snowtype == data.rasterstats[i].snowData[j].dataType) {
                                exist = true;
                                barChartData1.datasets[k].data.push(data.rasterstats[i].snowData[j].area);
                            }
                        }
                        if (!exist) {
                            var backgroundColor = '#000000',
                                label = '';
                            for (k = 0; k < colors.length; k++) {
                                if (colors[k].type == data.rasterstats[i].snowData[j].dataType) {
                                    backgroundColor = colors[k].color;
                                    label = colors[k].label;
                                    break;
                                }
                            }
                            barChartData1.datasets.push({
                                label: label,
                                snowtype: data.rasterstats[i].snowData[j].dataType,
                                backgroundColor: backgroundColor,
                                borderColor: '#000000',
                                borderWidth: 1,
                                data: [data.rasterstats[i].snowData[j].area]
                            });
                        }
                    }
                }

                var ctx1 = document.getElementById('canvas1').getContext('2d');
                if (chart1 != null) {
                    chart1.destroy();
                }
                var chart1 = new Chart(ctx1, {
                    type: 'bar',
                    data: barChartData1,
                    options: {
                        title: {
                            display: true,
                            text: data.wmaname
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        responsive: true,
                        scales: {
                            xAxes: [{
                                stacked: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Дата'
                                }
                            }],
                            yAxes: [{
                                stacked: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Площадь, м²'
                                }
                            }]
                        }
                    }
                });

                //---------------------------------------------------------------------------------

                var barChartData2 = {
                    labels: [],
                    datasets: []
                };

                barChartData2.labels = [];
                barChartData2.datasets = [];
                var color2 = '#000000',
                    label = '';
                for (k = 0; k < colors.length; k++) {
                    if (colors[k].type == $('#chart2DataType').val()) {
                        color2 = colors[k].color;
                        label = colors[k].label;
                        break;
                    }
                }
                barChartData2.datasets.push({
                    label: label,
                    backgroundColor: color2,
                    borderColor: color2,
                    borderWidth: 2,
                    fill: false,
                    data: []
                });
                barChartData2.datasets.push({
                    label: 'Среднее',
                    backgroundColor: '#ff0000',
                    borderColor: '#ff0000',
                    borderWidth: 2,
                    fill: false,
                    data: []
                });
                barChartData2.datasets.push({
                    label: 'Минимум',
                    backgroundColor: '#c3c3c3',
                    borderColor: '#c3c3c3',
                    borderWidth: 2,
                    fill: '+1',
                    data: []
                });
                barChartData2.datasets.push({
                    label: 'Максимум',
                    backgroundColor: '#c3c3c3',
                    borderColor: '#c3c3c3',
                    borderWidth: 2,
                    fill: false,
                    data: []
                });
                for (i = 0; i < data.rasterstats.length; i++) {
                    barChartData2.labels.push(moment(data.rasterstats[i].date).format('YYYY-MM-DD'));
                    for (j = 0; j < data.rasterstats[i].snowData.length; j++) {
                        if (data.rasterstats[i].snowData[j].dataType == $('#chart2DataType').val()) {
                            barChartData2.datasets[0].data.push(data.rasterstats[i].snowData[j].area);
                        }
                    }
                }
                for (i = 0; i < data.avg.length; i++) {
                    if (data.avg[i].dataType == $('#chart2DataType').val()) {
                        barChartData2.datasets[1].data.push(data.avg[i].area);
                    }
                }
                for (i = 0; i < data.min.length; i++) {
                    if (data.min[i].dataType == $('#chart2DataType').val()) {
                        barChartData2.datasets[2].data.push(data.min[i].area);
                    }
                }
                for (i = 0; i < data.max.length; i++) {
                    if (data.max[i].dataType == $('#chart2DataType').val()) {
                        barChartData2.datasets[3].data.push(data.max[i].area);
                    }
                }
                var ctx2 = document.getElementById('canvas2').getContext('2d');
                if (chart2 != null) {
                    chart2.destroy();
                }
                chart2 = new Chart(ctx2, {
                    type: 'line',
                    data: barChartData2,
                    options: {
                        title: {
                            display: true,
                            text: data.wmaname
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        responsive: true,
                        scales: {
                            xAxes: [{
                                //stacked: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Дата'
                                }
                            }],
                            yAxes: [{
                                //stacked: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Площадь, м²'
                                }
                            }]
                        },
                        plugins: {
                            filler: {
                                propagate: false
                            }
                        }
                    }
                });

            },
            error: function () {
                console.log('Error');
            }
        });
    };

    $(document).ready(function () {
        ChartWMA();
    });
</script>